<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.consumer.ConsumerTypeMapper">

	<resultMap type="consumerType"  id="csmTypeMap">
		<id column="id" property="type_id"/>
		<result column="name" property="type_name"/>
		<result column="status"  property="type_status"/>
	</resultMap>

	<select id="getCsmTypeDataList"  resultMap="csmTypeMap">
		select  
		*
		from 
		consumer_type
	</select>
</mapper>